html {
    background: #ffcc99;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    margin: 0 auto;
    max-width: 800px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header {
    background-color: #660000;
    color: white;
}

img {
    width: 350px;
    height: 350px;
    background: transparent;
    border: 10px;
    border-color: #660000;
    border-style: solid;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    margin-bottom: 5px;
}

a {
    font-size: 18px;
    display: block;
    text-align: center;
}

p {
    font-size: 16px;
}

h1 {
    text-align: center
    font-size: 32px;
}

h2 {
    text-align: center
    font-size: 24px;
}

h3 {
    text-align: center;
    font-size: 18px;
}

.naviki {
    margin: 20px;
}

.navik {
    margin-bottom: 10px;
}

.navik div {
    background-color: #660000;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

th {
    background-color: #ffcc99;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

form {
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #660000;
    color: white;
    padding: auto;
    border-radius: 10px;
}

hr {
    height: 3px;
    background-color: #660000;
}

li{
    font-size: 16px;
}